nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}

nav .nav__logo {
    text-transform: uppercase;
    color: #C9AC8C;
}

nav .container, .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    gap: 40px;

}

.nav__links li {
    border-bottom: 1px solid transparent;
}

.nav__links li:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.nav__forum {
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.nav__forum .nav__forum-links{
    display: none;
    position: absolute;
    padding: 10px;
    background: rgba(25, 25, 25, .7);
    /* border: 1px solid #fff; */
    z-index: 100;
    border-radius: 5px;
    width: 100px;
}

.nav__forum:hover .nav__forum-links {
    display: block;
}

.nav__forum .nav__forum-links > * {
    display: block;
}

.nav__forum .nav__forum-links > a:hover {
    text-decoration: underline;
}